@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  height: 100vh;
  font-size: 62.5%;
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-normal {
    font-size: 1rem;
    line-height: 1.5;
  }

  .text-paginate {
    display: inline-block;
    padding: 0 0.75rem;
    height: fit-content;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    cursor: pointer;
  }

  .text-paginate:hover {
    --tw-text-opacity: 1;
    color: rgb(8 145 178 / var(--tw-text-opacity));
  }
}

@layer components {
}
